.custom{
    border: 1px solid grey;
    margin: 5px;
    padding: 100px;
    border-radius: 10px;
}
.mart{
    margin-top: 50px;

}
.marp{
    margin-top: 200px;
}
.marx{
    margin-top: 50px;
    color: black;
    font-weight: bolder;
}